simon.wiki/
arbeitsdaten
*.swp
*.hfst
italiano.lexc
italiano.twolc
SiMoN-Documentation.pdf
doc/bib/originaldaten/
doc/bib/references-all.bib
doc/bib/gesamte-literatur_aufgramt.bib
doc/docs
simon-files
work-log/Zeiterfassung-15.12.2014-21.12.2014.html
work-log/Zeiterfassung-22.12.2014-28.12.2014.html
work-log/zeiterfassung-14.12.14.html
